body,html{
  margin:0;
  width:100%;
  background-color: #005AB5;
}

.btn, button, button:focus{
  outline:0px !important; 
}

.nav {
  padding: 20px 0 10px 0; 
}

.container {
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom: 20px;
}

#index-container {
  background-color: white;
  border-radius: 5px;
}

#to-do-list-title {
  color: white;
  font-size: 30px;
}

#new-todo .btn {
  margin-top: 5px;
  margin-right: 10px;
  color: #247BB3;
  outline: none;
}

#new-todo .btn:hover {
  color: #CE0000;
}

#new-todo .btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 0 0 0 2px;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
  background-color: white;
}

.table-hover> tbody > .no-hover:hover {
    background-color: #ffffff;
}


#main-table > tbody > tr > td {
  vertical-align: middle;
  word-break: break-all;
  padding: 8px 2px 8px 2px;
}

.drop-down-btn {
  border: 0 none;
  background-color: transparent;
  outline:none;
  color: #888888;
}

.drop-down-btn:hover {
  border: 0 none;
  background-color: transparent;
  outline:none;
  color:black;
}

.check-lbl, .due-time-lbl, .due-date-lbl, .show-lbl, .edit-lbl, .destroy-lbl {
  text-align: center;
}

 button:disabled {
  background-color: transparent;
 }

a.btn.glyphicon.glyphicon-list:hover, a.btn.glyphicon.glyphicon-pencil:hover,  a.btn.glyphicon.glyphicon-trash:hover {
  text-align: center;
  color: #CE0000;
}

.date-each {
  font-size: 4vmin;
  color: #CE0000;
}

.year-month-each {
  font-size: 2vmin;
}

.day-each {
  color: #005AB5;
  font-size: 2vmin;
}


.title-lbl, .due-time-lbl {
  font-weight: bold;
  font-size: 2.5vmin;
}

.note-lbl {
  color: #666666;
  font-size: 2vmin;
}

.label-control {
  display: inline;
}

a.btn.glyphicon {
  padding: 0;
}

.checkbox-btn a {
  color: green;
}

.checkbox-btn button, .checkbox-btn button:hover {
  color: green;
  background: transparent;
}

/* new todo form */
#new-todo-form {
  display: none;
}

.new_todo {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1fr, 1fr;
  margin-bottom: 20px;
} 

.new_todo label {
  color: white;
}

#form-title {
 grid-column: 1 / 4
}

#form-note {
  grid-column: 1 / -2;
}

textarea {
  resize: none;
}

#form-checkbox {
  display: none;
}

#form-create-btn {
  align-self: end;
} 

.form-group {
  margin-bottom: 0;
}

/* edit form */

tbody .edit_todo {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.edit-form-title {
  grid-column: 1 / 3;
}

.edit-form-note {
  grid-column: 1 / 4;
}

.update-btn {
  justify-self: end;
  align-self: center;
}

@media(max-width: 1024px) {
  .container {
   width: 80%;
  }
}

@media(max-width: 500px) {
  .container {
   width: 95%;
  }
}